.signature-block {
  width: 100%;
  .signature-title {
    color: #666;
  }
  .signature-content {
    width: 100%;
    height: 10em;
    line-height: 10em;
    background: #F9F9F9;
    color: #A2A2A2;
    text-align: center;
    vertical-align: middle;
    border-radius: 8px;
    border: 1px solid #D1D1D1;
  }
}

.signature-box {
  border: 1px solid #D1D1D1;
  border-radius: 8px;
  background: #F9F9F9;
}

@media (min-width: 768px) {
  .signature-block {
    .signature-content {
      height: 16rem;
      line-height: 16rem;
    }
  }
}

@media (min-width: 992px) {
  .signature-block {
    .signature-content {
      height: 20rem;
      line-height: 20rem;
    }
  }
}
