.login-background {
  background: #9CECFB;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(135deg, #9CECFB, #0052D4, #65C7F7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(135deg, #9CECFB, #0052D4, #65C7F7);
}
